@{
  Layout = "_Layout";
}

@model GearObsession.Models.User

<h4>Add a new user</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add New User" class="btn btn-primary" />
}
