@{
  Layout = "_Layout";
}

<h1>Welcome to GearObsession!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all users", "Index", "Users")</p>